@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AkCadeMic</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        body {
            background-color: whitesmoke;
        }

        .button {
            background-color: darkblue;
            border: 2px solid black;
            color: white;
            text-align: center;
            display: inline-block;
            font-size: 20px;
            width: 150px;
        }
    </style>
</head>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <img src="~/lib/image/Logo.png" width="50" height="50" />
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
</header>
    <body>
        <div class="container">
            <div class="text-center">
                <br />
                <h1><b>Registration</b></h1>
            </div>
            <div class="row">
                <div class="col-6">
                    <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <h4>Create a new account.</h4>
                        <hr />
                        <div asp-validation-summary="All" class="text-danger"></div>

                        <div class="form-group">
                            <label asp-for="Input.Email"></label>
                            <br />
                            <input asp-for="Input.Email" class="form-control" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.Password"></label>
                            <br />
                            <input asp-for="Input.Password" class="form-control" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.ConfirmPassword"></label>
                            <br />
                            <input asp-for="Input.ConfirmPassword" class="form-control" />
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                        <br />
                        <button type="submit" class="btn btn-primary">Register</button>
                        <a style="float:right" asp-area="identity" asp-page="/Account/Login">Already Have an Account?</a>
                    </form>
                </div>
                <div class="col-6">
                    <img src="~/lib/image/reg.png" />
                </div>
            </div>
        </div>
    </body>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - AkCadeMic - <a asp-area="" asp-controller="Home" asp-action="Policy">Policy</a>
        </div>
    </footer>
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
