@model IEnumerable<AkCadeMic.Models.ReplyH>

@{
    ViewData["Title"] = "ManageComments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="text-center">
    <h1>Manage HUMMS Comments</h1>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Post Id
                </th>
                <th>
                    Email
                </th>
                <th>
                    Text
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ThreadIdH)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmailH)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TextH)
                </td>
                <td>
                    <a asp-action="DeleteComment" asp-route-id="@item.IdH">Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
