@{
    ViewData["Title"] = "ContactUs";
}
<style>
    body {
        background-color: whitesmoke;
    }
    input[type=text] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border: 2px solid black;
        border-radius: 2px;
    }

    textarea {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border: 2px solid black;
        border-radius: 2px;
        height: 180px;
    }

    .button {
        background-color: darkblue;
        border: 2px solid black;
        color: white;
        text-align: center;
        display: inline-block;
        font-size: 20px;
        width: 150px;
    }
</style>
<div class="text-center">
    <br />
    <h1><b>Contact Us</b></h1>
</div>
<div class="row">
    <div class="col-6">
        <h3><b>Name</b></h3>
        <input type="text" name="name" placeholder="Enter Name" size="50" />
        <br />
        <h3><b>Email Address</b></h3>
        <input type="text" name="forum" placeholder="Enter Email Address" size="50" />
        <br />
        <h3><b>Subject</b></h3>
        <input type="text" name="subject" placeholder="Enter Subject" size="50" />
        <br />
        <h3><b>Message</b></h3>
<textarea name="reason" placeholder="Leave a message..."></textarea>
        <br />
        <input class="button" style="float:right" type="submit" />
    </div>
    <div class="col-6">
        <h3><b>You can also reach us out via the following:</b></h3>
        <h3><b>Contact :</b> </h3>
        <h4>akcademic@gmail.com</h4>
        <h3><b>Where can you find us?</b></h3>
        <h4 style="text-align:center;"><b>De La Salle - College of Saint Benilde</b></h4>
        <div class="map-responsive">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3861.6212083613987!2d120.99287701536461!3d14.563640981884536!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3397c97919f8cb45%3A0x1ccd3a08e045e228!2sDe%20La%20Salle-College%20of%20Saint%20Benilde%20Manila!5e0!3m2!1sen!2sph!4v1625999858266!5m2!1sen!2sph" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

        </div>
    </div>
</div>