@{
    ViewData["Title"] = "Policy";
}
<style>
    body {
        background-color: whitesmoke;
    }
</style>
<div class="text-center">
    <br/>
    <h1><b>AkCadeMic Policy </b></h1>
</div>
<br />
<br />
<br />
<div class="row">
    <div class="col-8">
        <h2 style="text-align:justify; font-size:30px;"> <b>1.)</b> Using of inappropriate words will result to thread / comment removal.</h2>
        <h2 style="text-align:justify; font-size:30px;"> <b>2.)</b> Users are encouraged to observe respect for every thread / comment.</h2>
        <h2 style="text-align:justify; font-size:30px;"> <b>3.)</b> Spamming will not be tolerated.</h2>
        <h2 style="text-align:justify; font-size:30px;"> <b>4.)</b> No Sexual Contents.</h2>
        <h2 style="text-align:justify; font-size:30px;"> <b>5.)</b> Avoid sending / posting illegal contents that may damage the system.</h2>
        <h2 style="text-align:justify; font-size:30px;"> <b>6.)</b> No Threats, Harassment and Bullying.</h2>
    </div>
    <div class="col-4">
        <img src="~/lib/image/image.png" />
    </div>
    </div>
